@model Cv.Models.Entiity.tblAward
@{
    ViewBag.Title = "VeriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Sertifika", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Award)
        @Html.TextBoxFor(m => m.Award, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Güncelle</button>

    </div>
}


