
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Kullanıcı Ayarları Alanı</h2>
<img src="~/startbootstrap-resume-gh-pages/assets/img/2029165.jpg"  height="850" width="1200"/>