@using Cv.Models.Entiity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<tblSkills>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Yetenek</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.Skill</td>
                <td>
                    @*<a href="/Yetenekler/YetenekSil/@x.Id" class="btn btn-danger">Sil</a>
                        >*@
                    @Html.ActionLink("Sil", "YetenekSil", new { id = x.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstediğinize Eminmisiniz')" })
                    <a href="/Yetenekler/VeriGetir/@x.Id" class="btn btn-success">Güncelle</a>

                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a href="/Yetenekler/YeniYetenek" class="btn btn-info">Yeni Yetenek Ekle</a>
