<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<head>
    <title>Cv</title>
    <!-- For-Mobile-Apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Cosmo Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //For-Mobile-Apps -->
    <!-- Style -->
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
</head>
<body>
    <div class="container">
        <h1>Cv Giriş Formu</h1>
        <div class="contact-form">
            <div class="signin">
                <form>
                    <input type="text" class="user" value="Kullanıcı Adı" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Kullanıcı Adı';}" />
                    <input type="password" class="pass" value="Şifre" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Şifre';}" />
                    <input type="submit" value="Giriş Yap" />
                    <p>Kullanıcı Hesabın Yokmu? <a href="#">Şimdi Kayıt Ol >></a> </p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>